$headercolor: #e9e9e9;
$bordercolor: #666666;
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
li,
p,
strong,
textarea {
    color: #000000;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    font-family: 'New Century Schoolbook', 'TeX Gyre Schola', serif;
}

body {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;

    .customer {
        .notVisible {
            display: none;
        }
    }

    div.login {
        position: absolute;
        top: 40%;
        left: 50%;
        margin: -150px 0 0 -150px;
        width: 300px;
        height: 300px;

        img {
            width: 50%;
        }

        #wrng {
            text-align: center;
            color: red;
            font-size: xx-large;
        }

        h1 {
            color: rgb(0, 0, 0);
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            letter-spacing: 1px;
            text-align: center;
        }

        form {
            input {
                width: 95%;
                margin-bottom: 10px;
                border: none;
                outline: none;
                padding: 10px;
                color: black;
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 4px;

                &:focus {
                    background-color: rgba(0, 0, 255, 0.025);
                }
            }

            .container {
                i {
                    margin-left: -30px;
                    cursor: pointer;
                }
            }

            button {
                position: relative;
                width: 95%;
                height: 25px;
                margin: auto;
                margin-bottom: 5px;
                color: black;
                background: #e2bbc5;
                border-radius: 3rem;
                cursor: pointer;
                overflow: hidden;

            }
        }

    }
}

header {
    height: 100px;
    width: 100%;
    background-color: gray;
    padding-top: 10px;

    >h1 {
        color: lightblue;
        margin-left: 10%;

        >a {
            color: lightblue;
            text-decoration: none;
        }

        img {
            height: 40px;
            width: auto;
        }
    }

    div.wrap {
        width: 30%;
        transform: translate(-50%, -50%);
        margin-left: 50%;
        padding-bottom: 3%;

        div.search {
            width: 100%;
            position: relative;
            display: flex;

            input.searchTerm {
                width: 100%;
                border: 3px solid lightblue;
                border-right: none;
                padding: 5px;
                height: 36px;
                border-radius: 5px 0 0 5px;
                outline: none;
                color: rgb(68, 112, 112);

                &:focus {
                    color: rgba(0, 0, 0, 0.356);
                }
            }

            button.searchButton {
                width: 80px;
                height: 36px;
                border: 1px solid lightblue;
                background: rgb(94, 98, 99);
                text-align: center;
                color: #fff;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
                font-size: 20px;
                font-family: sans-serif;
            }

            button.logout {
                width: 80px;
                height: 36px;
            }
        }
    }

    div.sideNav {
        height: 100%;
        width: 10%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(17, 17, 17, 0.39);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;

        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 100px;
            color: #000000;
            display: block;
            transition: 0.3s;

            &:hover {
                color: #f1f1f1;
            }

            .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                margin-left: 50px;
            }
        }

        .login-btn {
            font-family: Hack, monospace;
            background: #2c0423;
            color: #ff00f2;
            cursor: pointer;
            font-size: 2em;
            padding: 1.5rem;
            border: 0;
            transition: all 0.5s;
            border-radius: 10px;
            width: 50%;
            position: relative;
            width: auto;
        }
    }

    div#centreermenu {
        margin-top: -155px;
        padding-left: 140px;
        color: lightblue;
        width: 1%;
    }

}

@media screen and (max-height: 450px) {
    .sideNav {
        padding-top: 15px;
    }

    .sideNav a {
        font-size: 18px;
    }
}

main {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: lightblue;

    div.productContainer {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;

        div.card {
            border: #000000 solid 1px;
            border-radius: 1%;

            div.productContentWrap {
                padding: 5px;

                h2 {
                    text-align: center;
                    padding: 5px auto;
                }

                div.two {
                    width: 30em;
                    max-width: 100%;

                    >p {
                        display: inline-block;
                        max-width: 50%;

                        &:nth-child(1) {
                            float: left;
                        }

                        &:nth-child(2) {
                            float: right;
                        }

                        .price {

                            font-size: 22px;
                        }

                        .stock {
                            font-size: 22px;
                        }
                    }

                    p.desc {
                        justify-content: space-evenly;
                        color: white;
                    }
                }

                p {
                    button {
                        border: none;
                        outline: 0;
                        padding: 12px;
                        color: white;
                        background-color: #000;
                        text-align: center;
                        cursor: pointer;
                        width: 100%;
                        font-size: 18px;

                        &:hover {
                            opacity: 0.7;
                        }
                    }

                }
            }

            div.edit {
                border: solid black 1px;
            }
        }
    }

    .modal {
        display: block;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #66666620;
        backdrop-filter: blur(5px);


        >.medModal-container,
        >.patientModal-container,
        >.userModal-container {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: auto;


            table {
                border-collapse: collapse;
                width: 100%;


                th,
                td {
                    text-align: center;

                    input[type=submit] {
                        height: 50px;
                        width: 100px;
                        border-radius: 25px;
                        border: solid 1px $bordercolor;
                        box-shadow: 2px 2px 5px 1px $bordercolor;

                        &:hover {

                            box-shadow: inset 2px 2px 5px 1px $bordercolor;
                        }
                    }
                }
            }

            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                border: none;
                background-color: inherit;

                &:focus,
                &:hover {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }

}

footer {
    color: lightblue;
    background: gray;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 1px;

    h3 {
        padding: auto;
    }
}